.gallery {
  margin: 24px auto;
  max-width: 1280px;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
  grid-auto-flow: dense;

  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  }

  @media screen and (max-width: 500px) {
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }
}